# =========================
# OS
# =========================
.DS_Store

# =========================
# ENV (VERY IMPORTANT)
# =========================
.env
.env.*
*.env

# =========================
# NODE
# =========================
node_modules/
npm-debug.log*
yarn-error.log*

# =========================
# MOBILE (React Native)
# =========================

# Xcode
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace
xcuserdata
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android
android/build/
android/app/build/
android/.gradle/
.gradle/
local.properties
*.iml
*.keystore
.kotlin/
.cxx/

# React Native / Metro
*.jsbundle
.metro-health-check*

# =========================
# BACKEND (Node.js API)
# =========================
backend/node_modules/
backend/dist/
backend/build/
backend/.env

# logs
logs
*.log

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# TESTING
# =========================
coverage/

# =========================
# YARN (if used)
# =========================
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# =========================
# FASTLANE (optional)
# =========================
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# =========================
# RUBY / PODS
# =========================
**/Pods/
vendor/bundle/
